.vaccine-user, .slot-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vaccine-user {
    justify-content: space-between;
    margin: 1rem;
}

.vaccine-user>div:first-child {
    font-size: 1.5rem;
    color: #040d2c;
    font-weight: bold;
    margin-left: 2rem;
}

.dropdown ul {
    min-width: 0;
}

.slot-center {
    justify-content: space-evenly;
    margin-top: 25vh;
}

.slot {
    font-size: 1.2rem;
    color:#040d2c;
    font-weight: 500;
}

.slot-center>div:nth-child(2) {
    font-size: 1.5rem;
    font-weight: bold;
}