{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <title>EVaccine</title>
  <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
  <div class="welcome">
    <div>
      <p>Online COVID-19 Vaccine Registration</p>
      <p>Get yourself registered for Covid-19 vaccination in less than 60 seconds</p>
      <div>
        <a href="signup/"><button class="button">Register</button></a>
        <a href="signin/"><button class="button">Sign In</button></a>
      </div>
    </div>
    <img src="{% static 'images/welcome.png' %}">
  </div>

  <div class="current-stats">
    <div>
      <img src="{% static 'images/syringe.png' %}">
      <div>
        <p>Total Slots Booked Till Now</p>
        <p>{{ total }}</p>
      </div>
    </div>
    <div>
    </div>
    <div>
      <img src="{% static 'images/syringe2.png' %}">
      <div>
        <p>Vaccinations Done Today</p>
        <p>{{ today }}</p>
      </div>
    </div>
  </div>
  <div class="search-centers">
    <p>Search Your Nearest Vaccination Center</p>
    <p>Get a preview list of the nearest centers</p>
    <form action="centres/" method="post">
      {% csrf_token %}
      <select name="city" required>
        <option value="" disabled selected>Select Centre by District</option>
        <optgroup label="A">
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="A3">A3</option>
        </optgroup>
        <optgroup label="B">
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="B3">B3</option>
        </optgroup>
        <optgroup label="C">
            <option value="C1">C1</option>
            <option value="C2">C2</option>
            <option value="C3">C3</option>
        </optgroup>
      </select>
      <button type="submit">Search</button>
    </form>
  </div>
</body>
{% endblock content %}