{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <title>Vaccines</title>
  <link rel="stylesheet" href="{% static 'vaccines.css' %}">
</head>

<body>
    <div class="contents">
        <p>List of Vaccines available</p>
        <div></div>
        <div>
            <img src="{% static 'images/green_tick.png' %}">
            <p>Covaxin</p>
            <img src="{% static 'images/green_tick.png' %}">
            <p>Covishield</p>
            <img src="{% static 'images/green_tick.png' %}">
            <p>Sputnik V</p>
        </div>
    </div>

    <div class="heading">
        <img src="{% static 'images/covaxin.png' %}" alt="covaxin">
        <div>
            <p>C O V A X I N</p>
            <p>COVAXIN® - India's First Indigenous COVID-19 Vaccine</p>
        </div>
    </div>

    <div class="description">
        <p>
            Bharat Biotech's Covaxin was given a nod in January for emergency use. Bharat 
            Biotech manufactures this coronavirus vaccine in India in partnership with the 
            Indian Council of Medical Research (ICMR) and the National Institute of Virology. 
            The cost of Covaxin is Rs 600 for the State government and Rs 1200 for private 
            hospitals.<br><br>
            
            <b>How it works</b><br>
            The pharma company created this vaccine using a sample of the COVID-19 virus 
            that was isolated by the National Institute of Virology. After the vaccination, the 
            immune system starts producing antibodies against SARS-CoV-2, the Covid-19 virus.<br><br>
            
            The company says that the vaccine's immunogenicity is further boosted by adding 
            immune-potentiators, called vaccine adjuvants.<br><br>
            
            <b>Efficacy</b><br>
            The company conducted an interim analysis based on the Phase 3 trial results and 
            claimed its efficacy rate as 81% for the jab that is effective against the UK variant too.<br><br>
            
            <b>Side-effects</b><br>
            Some common though rare side-effects can be pain, redness, stiffness in the upper
            arm, itching at the injection spot, body ache, weakness in the arm, headache, fever, 
            weakness, malaise, rashes, nausea, and vomiting.<br><br>
            
            <b>Doses</b><br>
            Covaxin is also a two- dose vaccination that is given in a gap of 28 days from the 
            first dose.<br>
        </p>
    </div>

    <div class="heading">
        <img src="{% static 'images/covishield.png' %}" alt="covishield">
        <div>
            <p>C O V I S H I E L D</p>
            <p>COVISHIELD® - ChAdOx1 nCoV- 19 Corona Virus Vaccine (Recombinant)</p>
        </div>
    </div>

    <div class="description">
        <p>
            Covishield is one of the first two vaccines that were approved for emergency use by the Indian Government. Even countries in Europe are using the drug. The doses are developed by the University of Oxford in partnership with AstraZeneca. They are produced in Pune at the Serum Institute of India. The price of the Covishield has now been reduced to Rs 300 for State governments.<br><br>

            <b>How does Covishield work?</b><br>
            The formula followed by Covishield is similar to Sputnik V, which is a weakened version of adenovirus, a common cold virus from chimpanzees, ChAD0x1. So, it has been modified to look more like SARS CoV-2 but it cannot cause illness. After getting injected, the vaccine prompts the human immune system to produce antibodies against the live virus.<br><br><br>
            
            <b>Efficacy of Covishield</b><br>
            As per the phase-3 trials in December 2020, the vaccine showed an efficacy of 70.4%. It is based on the international clinical trial results shown by 11,636 volunteers across the United Kingdom and Brazil. It was seen that when people were given the first dose and then those who got the second dose, the efficacy reached up to 90%.<br><br>
            
            <b>Are there any side effects of Covishield?</b><br>
            The side effects are minimal and some of the common ones seen in 1 out of 10 people are pain, tenderness, warmth, redness, swelling, itching, or bruises on the injection site. It can be fatigue, general feeling of being unwell, chills, feeling feverish, nausea, headache, joint pain or muscle ache.<br><br>
            
            Some of the uncommon side-effects seen under 1 out of 100 people are feeling dizzy, abdominal pain, decreased appetite, enlarged lymph nodes, rash, and excessive sweating. After the vaccination, if you take paracetamol then the chances of getting symptoms is reduced.<br><br>
            
            <b>Doses</b><br>
            The two doses of Covishield vaccine are administered between four and 12 weeks apart and are stored at a temperature of 2-8 degrees Celsius.<br>
        </p>
    </div>

    <div class="heading">
        <img src="{% static 'images/sputnikv.png' %}" alt="sputnik-v">
        <div>
            <p>S P U T N I K - V</p>
            <p>SPUTNIK-V® - The first registered vaccine against COVID-19</p>
        </div>
    </div>

    <div class="description">
        <p>
            <b>Sputnik V Doses and How They Work?</b><br>
            Sputnik is a two-dose vaccine in which the second dose is administered after a gap of 21 days. For both the jabs two different vectors are used. It uses two dissimilar disarmed strains of the adenovirus that cause the common cold. They are used as vectors to deliver the jab. Injecting two different vectors can minimize the risk of the immune system developing resistance to the initial vector.<br><br>
            
            Sputnik V uses a cold-type virus, which is engineered to be harmless. It works as a carrier to deliver a small fragment of the SARS-CoV2 virus to the body. It safely exposes the body to a part of the genetic code of the virus. It recognized the threat and then learns to fight it off, without causing any illness.<br><br>
            
            Once you are vaccinated, your immune system produces antibodies against the coronavirus for real.<br><br>
            
            The vaccine can be stored at a temperature of 2 degrees to and 8 degrees Celsius, which makes it easier to store and transport in India.<br><br>
            
            <b>Efficacy</b><br>
            Sputnik V has an efficacy of 91.6%, which is closer to Moderna and Pfizer. As per the clinical trials, Pfizer and Moderna shots showed an efficacy of 95% and only Sputnik is near to that rate.<br><br>
            
            <b>Side-effects</b><br>
            Quite rarely did anyone require any hospitalization, and any side-effects were not associated with the vaccination. In some cases, people develop fever, which is the immune system’s natural way of giving the body a boost. It can easily be overcome with paracetamol, and there are no serious allergies reported.<br>
        </p>
    </div>
    <script>
        document.getElementById("nav1").setAttribute("style", "color:white;")
    </script>
</body>
{% endblock content %}